@import 'config';

/* Regular Stack */
.stack {
    --space: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.stack > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack > * + * {
    margin-top: var(--space);
}

/* Small Stack */
.stack-sm {
    --space: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.stack-sm > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack-sm > * + * {
    margin-top: var(--space);
}

/* Large Stack */
.stack-lg {
    --space: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.stack-lg > * {
    margin-top: 0;
    margin-bottom: 0;
}

.stack-lg > * + * {
    margin-top: var(--space);
}